{% extends "base.tpl.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="design/css/baseTypes.css" rel="stylesheet" />
{% endblock %}

{% block contents %}
    <img id="image_1" src="{{ image_1_src }}" alt="image">
    <p>
        {{ article_1 }}
    </p>
    <ol>
        {% for code in codes %}
            <li>
                <p>{{ code[0] }}</p>
                <pre>
                    <div class="code">
{{ code['coloredCode']|raw }}
                    </div>
                    <div class="code output">
{{ code['output']|raw }}
                    </div>
                </pre>
                <p>{{ code[1] }}</p>
            </li>
        {% endfor %}
    </ol>
{%  endblock %}