{% extends "base.tpl.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="design/css/baseTypes.css" rel="stylesheet" />
{% endblock %}

{% block contents %}
    <img id="image_1" src="design/images/blue.jpg" alt="image">
    <p>
        {{ article_1 }}
    </p>
    <ol>
        {% for code in codes %}
            <li>
                <p>{{ code.introduction }}</p>
                <pre>
                    <div class="code">
{{ code.code|raw }}
                    </div>
                    <div class="code output">
{{ code.output|raw }}
                    </div>
                </pre>
                <p>{{ code.conclusion }}</p>
            </li>
        {% endfor %}
    </ol>
{%  endblock %}