{% extends "base.tpl.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="design/css/DBInteraction.css" rel="stylesheet" />
{% endblock %}

{% block contents %}
    <img id="image_1" src="design/images/birdy.jpg" alt="image :)">
    {% for article in articles %}
        <p>
            {{ article.name|raw }}
        </p>
        {% if loop.index == 2 %}
            <ol class="list-group">
                {% for element in lists.0.elements %}
                    <li class="list-group-item list-group-item-action">
                        {{ element.name }}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}

        {% if loop.index == 3 %}
            <h3>
                {{ header_1 }}
            </h3>
        {% endif %}

        {% if loop.index == 5 %}
            {% for code in codes %}
                {% if loop.index == 1 %}
                    <pre>
                        <div class="code">
{{ code['coloredCode']|raw }}
                        </div>
                    </pre>
                    <pre>
                        <div class="output">
{{ code['output']|raw }}
                        </div>
                    </pre>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if loop.index == 8 %}
            {% for code in codes %}
                {% if loop.index == 2 %}
                    <pre>
                        <div class="code">
{{ code['coloredCode']|raw }}
                        </div>
                    </pre>
                    <pre>
                        <div class="output">
{{ code['output']|raw }}
                        </div>
                    </pre>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if loop.index == 9 %}
            {% for code in codes %}
                {% if loop.index == 3 %}
                    <pre>
                        <div class="code">
{{ code['coloredCode']|raw }}
                        </div>
                    </pre>
                {% endif %}
            {% endfor %}
        {% endif %}

    {% endfor %}
{% endblock %}