{% extends "base.tpl.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="design/css/formProcessing.css">
{% endblock %}

{% block contents %}
    <div id="form_1">
        <form method="POST">
            <div class="form-group">
                <label for="name">Name </label>
                <input type="text" id="name" name="name" class="form-control">
            </div>

            <div class="form-group">
                <label for="email">Email </label>
                <input type="email" id="email" name="email" class="form-control">
            </div>

            <div class="form-group">
                <label for="age">Age </label>
                <input type="text" id="age" name="age" class="form-control">
            </div>

            <div class="form-group">
                <label for="identifier">Department id </label>
                <input type="text" id="identifier" name="identifier" pattern="[A-Z]-([0-9]){3,3}" title="format example: A-111" class="form-control">
            </div>
            <div class="form-group">
                <label for="gender">Gender </label>
                <select name="gender" id="gender" class="form-control">
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
            </div>

            <input type="submit" value="Submit" class="btn btn-danger">
        </form>
    </div>

    <div class="output formOutput">
        {% for form_result in form_results %}
            {% for form_result_point in form_result %}
                {{ form_result_point|raw }}<br>
            {%  endfor %}
            <br>
        {% endfor %}
    </div>

    <img id="image_1" src="design/images/moby.jpg" alt="">

    {% for article in articles %}
        <p>
            {{ article.name }}
        </p>
    {% endfor %}

    <ol>
        {% for code in codes %}
            <li>
                <pre>
                    <div class="code">
{{ code.code.name|raw }}
                    </div>
                </pre>
                <ol>
                    {% for list in code.lists %}
                        {% for element in list.elements %}
                            <li>
                                {{ element.name }}
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ol>
            </li>
        {% endfor %}
    </ol>

    <h3 id="conclusion">{{ conclusion }}</h3>
    <ol class="list-group">
        {% for element in conclusionList.elements %}
            <li class="list-group-item list-group-item-action list-group-item">
                {{ element.name }}
            </li>
        {% endfor %}
    </ol>
{% endblock %}