{% extends "base.tpl.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="design/css/index.css" rel="stylesheet" />
{% endblock %}

{% block contents %}
    {% block search %}
        {% include "partials/search.tpl.twig" %}
    {% endblock %}
    <div id="menu" class="btn-group-vertical" role="group">
        {% for title in siteBar if title.title != "Demo" %}
            <a class="btn btn-secondary" href="{{ title.page }}"> {{ title.title }}</a>
        {% endfor %}
    </div>
    <p>
        {{ article_1 }}
    </p>
    <img id="image_1" src="design/images/red.jpg" alt="image:)">
    <p>
        {{ article_2 }}
    </p>
    <ol>
        {% for source in sources %}
            <li><a href="{{ source.link }}">{{ source.text }}</a> {{ source.describtion }}</li>
        {% endfor %}
    </ol>
{% endblock %}
{% block toMain %}
    <div id="toMain">
        <a class="btn btn-primary" href="index.php">To the beginning</a>
    </div>
{% endblock %}