{% extends "base.tpl.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="design/css/MVCConception/{{ style }}/MVCConception.css">
    <link rel="stylesheet" href="design/css/MVCConception/MVCConception.css">
{% endblock %}

{% block contents %}
    <img id="image_1" src="design/images/space.jpg" alt="">
    {% for article in articles %}
        <p>
            {{ article.article|raw }}
        </p>
        {% if loop.index == 2 %}
            <ol>
                {% for list in lists if list.name == 'MVC_scenario' %}
                    <li>
                        {{ list.element_text }}
                    </li>
                {% endfor %}
            </ol>

            <h3>{{ title_1 }}</h3>

            <ol class="list-group">
                {% for list in lists if list.name == 'MVC_advantages' %}
                    <li class="list-group-item list-group-item-action">
                        {{ list.element_text }}
                    </li>
                {% endfor %}
            </ol>
            <img id="image_2" src="design/images/mountain.jpg" alt="image :)">
        {% endif %}
    {% endfor %}

    <form method="POST">
        {% for radioValue in radiobuttonValues %}
            <label for="radio{{ radioValue }}">Style #{{ radioValue }}</label>
            <input
                {% if loop.index == style %}
                    checked
                {% endif %}
            id="radio{{ radioValue }}" type="radio" value="{{ radioValue }}" name="styleMode">
        {% endfor %}
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="design/js/radioSubmit.js"></script>
{% endblock %}