{% extends 'base.tpl.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="design/css/writingStyle.css">
{% endblock %}

{% block contents %}
    <img id="image_1" src="design/images/purple.jpg" alt="image :)">
    {% for article in articles if article != articles|last %}
        <p>{{ article.name }}</p>
    {% endfor %}

    <ol>
    {% for code in codes %}
        <li>
            <pre>
                <div class="code">
{{ code.coloredCode|raw }}
                </div>
            </pre>

            <p>
                {{ code.0 }}
            </p>
            {% for key in code|keys %}
                {% if key != 'output' and key != 'coloredCode' and key|number_format != key %}
                    {% set listKey = key %}
                        <div class="list-group">
                            <ul>
                                {% for element in code[listKey] %}
                                    <li class="list-group-item flex-column align-items-start">
                                        {{ element }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ol>

    <img id="image_2" src="design/images/purple2.jpg" alt="image :)">

    <p id="bottom_paragraf">
        {% set lastArticle = articles|last %}
        {{ lastArticle.name }}
    </p>
{% endblock %}