{% extends 'base.tpl.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="design/css/writingStyle.css">
{% endblock %}

{% block contents %}
    <img id="image_1" src="design/images/purple.jpg" alt="image :)">
    {% for article in articles if article != articles|last %}
        <p>{{ article.name }}</p>
    {% endfor %}

    <ol>
    {% for code in codes %}
        <li>
            <pre>
                <div class="code">
{{ code.code.name|raw }}
                </div>
            </pre>

            <div class="list-group">
                <ul>
                    {% for list in code.lists %}
                        {% for element in list.elements %}
                            <li class="list-group-item flex-column align-items-start">
                                {{ element.name }}
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>

            <p>
                {% for article in code.articles %}
                    {{ article.name }}
                {% endfor %}
            </p>
        </li>
    {% endfor %}
    </ol>

    <img id="image_2" src="design/images/purple2.jpg" alt="image :)">

    <p id="bottom_paragraf">
        {% set lastArticle = articles|last %}
        {{ lastArticle.name }}
    </p>
{% endblock %}