{% extends 'base.tpl.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="design/css/writingStyle.css">
{% endblock %}

{% block contents %}
    <img id="image_1" src="design/images/purple.jpg" alt="image :)">
    {% for article in articles if article.id < 6 %}
        <p>{{ article.article }}</p>
    {% endfor %}
    <ol>
    {% for code in codes %}
        <li>
            <p>{{ code.introduction }}</p>
            <pre>
                    <div class="code">
{{ code.code|raw }}
                    </div>
                </pre>
            <p>{{ code.conclusion }}</p>
        </li>
        {% if loop.index == 1 %}
            <div class="list-group">
                <ul>
                    {% for list in lists if list.name == "function_refactoring" %}
                        <li class="list-group-item flex-column align-items-start">
                            {{ list.element_text }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
    </ol>
    <img id="image_2" src="design/images/purple2.jpg" alt="image :)">
    <p id="bottom_paragraf">
        {{ articles.2.article }}
    </p>
{% endblock %}